html {
    font-size: 62.5%;

    @include respond(tab-lang) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 40%;
    }

    @include respond(big-screen) {
        font-size: 75%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #777777;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    background-color: $color-white;
    padding: 4rem;

    @include respond(tab-lang) {
        padding: 3rem;
    }

    @include respond(phone) {
        padding: 0;
    }
}

.container {
    position: relative;
    // padding: 0 1rem;
    background-color: #f7f7f7;
    z-index: 0;
}

html {
    scroll-behavior: smooth;
}