.footer {
    padding: 8rem;
    background: #333333;

    @include respond(phone) {
        padding: 4rem 8rem;
    }

    &__logo {
        width: 12rem;
    }

    &__list {
        list-style: none;
        text-align: center;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 5rem;

            @include respond(tab-lang) {
                margin-right: 2.3rem;

            }

            @include respond(tab-port) {
                margin: 0;
                padding: 2rem;
            }

            @include respond(phone) {
                padding: 2rem 10rem;
            }
        }

        @include respond(tab-port) {
            margin: 0 3rem 3rem 0;
        }

        @include respond(phone) {
            margin: 0;
            padding: 2rem 10rem;
        }

    }

    &__link {

        &:link,
        &:visited {
            color: $color-gray;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $font-size-paragraph;
            letter-spacing: .2rem;
            font-weight: 400;
            display: inline-block;
            transition: all 250ms;
        }

        &:active {}

        &:hover {
            transform: scale(1.07);
            color: $color-brown-dark;
            text-shadow: $box-shadow;
        }
    }
}