@font-face {
	font-family: "beer_money";
	font-display: swap;
	src: url("../fonts/beer_money.woff2") format("woff2"), url("../fonts/beer_money.woff") format("woff");
	font-weight: 400;
	}
@font-face {
	font-family: "Mistral";
	font-display: swap;
	src: url("../fonts/Mistral.woff2") format("woff2"), url("../fonts/Mistral.woff") format("woff");
	font-weight: 400;
	}
